# R / IDE
.Rhistory
.RData
.Rproj.user/
*.Rproj

# OS
.DS_Store

# Large/derived outputs (optional — choose what you want tracked)
data/raw/*.rds
#results/
meta/
#paper_package/

# If you later use renv
renv/library/
